.winarea {
	width: 640px;
	font-family: "microsoft yahei";
	color: #555;
	font-size: 13px;
	background-color: #888;
	padding: 3px;
	z-index: 10002;
	display: none;
	position: fixed;
	border-radius: 4px;
	left: 100px;
}
.shadowScreen {
	width: 100%;
	background-color: #000;
	background-attachment: scroll;
	opacity: 0.4;/* 支持CSS3的浏览器（FF 1.5也支持）*/
	filter: alpha(opacity=40); /* IE */
	-moz-opacity: 0.4;/* Moz + FF */
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
}
.msg-box {
	background-color: #fff;
	padding: 2px;
}
.mTitle {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: #d1dedf 1px solid;
	line-height: 32px;
	background-color: #00a9e8;
	cursor: move;
	overflow: hidden;
}
.wintip {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background: url(../images/lev4.png) no-repeat left center;
	padding-left: 15px;
	margin-left: 4px;
}
.mTitle .allmsgnum {
	font-size: 10px;
	line-height: 33px;
	margin-left: 10px;
	color: #808080;
	float: left
}
.closemsg {
	float: right;
	width: 30px;
	height: 30px;
	background: url(../images/msg-close.png) no-repeat center center;
	cursor: pointer;
}
.closemsg:hover {
	background: #45bcff url(../images/msg-close-red.png) no-repeat center center;
}
.closemsg:hover {
	color: red;
	text-decoration: underline;
}
.btn4msg {
	margin-top: 10px;
	background-color: #e6ebf5;
	padding: 4px;
}
.win-table {
	width: 98%;
	margin: 4px auto;
	margin-top: 10px;
	font-size: 13px;
	line-height: 20px;
}
.win-table tr {
	background-color: #f5f9fb;
}
.win-table th {
	padding: 5px 4px;
	text-align: left;
	border-bottom: #fff 5px solid;
	color: #00a3ff;
}
.win-table td {
	padding: 5px 4px;
	border-bottom: #fff 5px solid;
}
.red {
	color: red;
}
.btnsure {
	font-family: "microsoft yahei";
	border: none;
	padding: 3px 10px;
	color: #fff;
	background: #00a3ff;
	border: #0085d0 1px solid;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	margin-right: 4px;
}
.btnsure:hover {
	opacity: 0.8;/* 支持CSS3的浏览器（FF 1.5也支持）*/
	filter: alpha(opacity=80); /* IE */
	-moz-opacity: 0.8;/* Moz + FF */
}
.btnconcel /*对话框按钮*/ {
	font-family: "microsoft yahei";
	border: none;
	padding: 3px 10px;
	color: #555;
	background: #fff;
	border: #00a3ff 1px solid;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	margin-right: 4px;
}
.btnconcel:hover /*对话框按钮*/ {
	background: #f1f8f9;
}
.msg-li2select {
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}
.msg-li2select li {
	float: left;
	width: 170px;
	height: 30px;
	line-height: 30px;
	border: #d5e1f9 1px solid;
	text-align: center;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	cursor: pointer;
}
.text-insert {
	font-family: "microsoft yahei";
	line-height: 20px;
	color: #555;
	border: #d8d8d8 1px solid;
	width: 98%;
	height: 50px;
	overflow: auto;
}
.msg-li2select .activeLi {
	border: red 1px solid;
	color: red;
}
.win-box {
	overflow: hidden;
	width: 98%;
	margin: 0 auto;
	margin-top: 10px;
}
.leftitem {
	float: left;
	width: 26%;
}
.rightitem {
	float: right;
	width: 30%;
}
.allt {
	margin: 0;
	padding: 0;
	font-size: 13px;
	margin-bottom: 5px;
	padding-left: 12px;
	color: #555;
	background: url(../images/d-lev1.png) no-repeat left center;
}
.termt {
	font-size: 12px;
	color: #00a3ff;
	cursor: pointer;
}
.tree-box {
	border: #d8d8d8 1px solid;
	overflow: auto;
	height: 280px;
}
.choseitem {
	color: #555;
	background-color: #e9f7f9;
}
.guyitem {
	display: block;
	line-height: 22px;
	padding-left: 4px;
	cursor: pointer;
	color: #666;
	position: relative;
}
.guyitem:hover {
	color: #555;
	background-color: #e9f7f9;
}
.moveitem {
	display: block;
	line-height: 22px;
	padding-left: 4px;
	cursor: pointer;
	color: #666;
	position: relative;
}
.moveitem:hover {
	color: #555;
	background-color: #e9f7f9;
}
.lable-check {
	display: block;
	line-height: 22px;
	position: relative;
}
.lable-check:hover {
	color: #555;
	background-color: #e9f7f9;
}
.trans {
	display: block;
	width: 54px;
	height: 32px;
	margin-top: 5px;
	border: #eaeaea 1px solid;
	border-radius: 4px;
}
.trans:hover {
	background-color: #f1f8f9;
	cursor: pointer;
}
.forin {
	background: url(../images/r1.png) no-repeat center center;
}
.forout {
	background: url(../images/l1.png) no-repeat center center;
}
.forin-straight {
	background: url(../images/r2.png) no-repeat center center;
}
.forout-straight {
	background: url(../images/l2.png) no-repeat center center;
}
.move-box {
	overflow: hidden;
	position: absolute;
	right: 0px;
	top: 4px;
	display: block;
	background-color: #e9f7f9;
}
.move-box .move-top {
	width: 14px;
	height: 14px;
	background: url(../images/up-line-ico.png) no-repeat left center;
	float: right;
	margin-right: 2px;
}
.move-box .move-up {
	width: 14px;
	height: 14px;
	background: url(../images/up-ico.png) no-repeat left center;
	float: right;
	margin-right: 2px;
}
.move-box .move-bottom {
	width: 14px;
	height: 14px;
	background: url(../images/down-line-ico.png) no-repeat left center;
	float: right;
	margin-right: 2px;
}
.move-box .move-down {
	width: 14px;
	height: 14px;
	background: url(../images/down-ico.png) no-repeat left center;
	float: right;
	margin-right: 2px;
}
.btip {
	text-decoration: underline;
	cursor: pointer;
	margin-right: 5px;
	font-size: 12px;
	color: #888;
}
.btip:hover {
	color: #0085d0;
}
.condition-table {
	width: 100%;
	border-spacing: 0;
}
.condition-table td {
	font-size: 12px;
	padding: 3px 5px;
}
.btn-ex {
	border: none;
	height: 28px;
	background: url(../images/btn-bg.png) repeat-x left center;
	border: #aeaeae 1px solid;
	border-radius: 2px;
	cursor: pointer;
	line-height: 29px;
	font-size: 13px;
	color: #15428b;
	padding: 0px 15px;
	font-weight: bold;
	margin-left: 10px;
}
.define-set {
	position: absolute;
	top: 12px;
	left: 5px;
	font-size: 12px;
	color: #646464;
	line-height: 20px;
}
.hide-show {
	position: absolute;
	top: 6px;
	left: 50%;
	width: 30px;
	height: 15px;
	border-radius:2px;
	background: url(../images/toup.png) no-repeat center center;
	cursor: pointer;
}
.hs-active {
	background: url(../images/todown.png) no-repeat center center;
}
.setitem {
	font-size: 12px;
	color: #15428b;
	cursor: pointer;
}
.setitem:hover {
	text-decoration: underline;
}
.btnbox {
	margin-top: 8px;
	margin-bottom: 10px;
	position: relative;
}
.divt {
	background: url(../images/headbg.gif) repeat-x left top;
	height: 26px;
	color: #15428b;
	font-weight: bold;
	font-size: 12px;
	line-height: 26px;
	position: relative;
}
